six
tqdm==4.30.*
torch==1.0.1
torchtext==0.6.0
future
configargparse
PyYAML
tensorflow==1.15.0
tensorboardX
py-rouge
transformers==3.4.0
simpletransformers
sklearn
pandas
numpy
OpenNMT-py
git+https://github.com/pytorch/fairseq
pytorch-lightning==0.3.5
nltk==3.5
